* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: #111;
}

html,
body {
  background-color: white;
  margin: 20px;
}

.parent {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.card {
  height: 350px;
  width: 350px;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  background-color: #f9f7f7;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.top img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}

.top button {
  display: flex;
  text-align: center;
  border: 1px solid #dadada;
  padding: 4px 8px;
  font-size: 14px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #464141;
}

.center {
  text-align: left;
  margin-left: 20px;
}

.center h3 {
  font: size 17px;
  font-weight: 500;
}

.center h3 span {
  font-size: 9px;
  font-weight: 500;
  color: #8b8b8b;
}

.center h2 {
  font-size: 20px;
}

.center .tag {
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.center .tag h4 {
  font-size: 14px;
  background-color: #dadada;
  color: #111;
  padding: 3px 6px;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  padding-top: 15px;
}

.bottom button {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  column-width: 600;
}